<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Login.css">
</head>
<body>
    <div class="formulario">
        <h1>Inicio de sesion</h1>
        <form method="post">
            <div class="usename">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="Contraseña">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvido su Contraseña?</div>
            <input type="submit" value="Iniciar">
            <div class="registrase">
                Quiero hacer el <a href="#">registro</a>
            </div>
        </form>
    </div>
    
</body>
</html>