<!-- login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <div class="formulario">
        <h1>Inicio de sesión</h1>
        <form method="post">
            <div class="usename">
                <input type="text" required>
                <label>Nombre de usuario</label>
            </div>
            <div class="Contraseña">
                <input type="password" required>
                <label>Contraseña</label>
            </div>
            <div class="recordar">¿Olvidó su contraseña?
                <a href="{% url 'inicio' %}">Volver al inicio</a>
            </div>
            <input type="submit" value="Iniciar">
            <div class="registrarse">
                <a href="{% url 'registro' %}">Quiero Registrarme</a>
            </div>
        </form>
    </div>
</body>
</html>


