{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Veguita - Dejanos tu opinion</title>
    <link rel="stylesheet" href="{% static 'css/opinion.css' %}">
    <script src="{% static 'Js/validacion.js' %}"></script>
    <script src="{% static 'Js/api.js' %}"></script>
</head>
<body>
    <header class="header">

        <div class="logo">
            <img src="{% static 'imagenes/logo.png' %}" alt="loguito">
        </div>

        <nav class="opciones1">
            <ul class="opciones1-links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'quienes' %}">Quienes Somos</a></li>
                <li><a href="{% url 'galeria' %}">Galeria de fotos</a></li>
            </ul>
        </nav>
        <a href="{% url 'solicitar' %}" class="btn"><button>Solicitar</button></a>
    </header>

    <div class="center">
        <h2>Tu opinion vale demasiado</h2>
        <form class="form" onsubmit="return validarOpinion();">
            <div class="tipo">
                <label for="tipoopinion">Servicio:</label>
                <select id="tipoopinion" name="tipoopinion">
                    <option value="Sitio web">Sitio web</option>
                    <option value="Servicio">Recepción de paquetes</option>
                </select>
            </div>

            <div class="textarea">
                <textarea id="areatexto" name="message" rows="10" cols="30" placeholder="Cuentanos como ha sido tu experiencia!"></textarea>
            </div>
            <button type="submit" class="enviar">Enviar opinión</button>
        </form>
    </div>
</body>
</html>
